<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Salon</servlet-name>
        <servlet-class>jums.Salon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberRegistration</servlet-name>
        <servlet-class>jums.MemberRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberRegistrationConfirm</servlet-name>
        <servlet-class>jums.MemberRegistrationConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberRegistrationComplete</servlet-name>
        <servlet-class>jums.MemberRegistrationComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewsConfirm</servlet-name>
        <servlet-class>jums.ReviewsConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewsComplete</servlet-name>
        <servlet-class>jums.ReviewsComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginConfirmation</servlet-name>
        <servlet-class>jums.LoginConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyData</servlet-name>
        <servlet-class>jums.MyData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Salon</servlet-name>
        <url-pattern>/Salon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberRegistration</servlet-name>
        <url-pattern>/MemberRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberRegistrationConfirm</servlet-name>
        <url-pattern>/MemberRegistrationConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberRegistrationComplete</servlet-name>
        <url-pattern>/MemberRegistrationComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewsConfirm</servlet-name>
        <url-pattern>/ReviewsConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewsComplete</servlet-name>
        <url-pattern>/ReviewsComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginConfirmation</servlet-name>
        <url-pattern>/LoginConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyData</servlet-name>
        <url-pattern>/MyData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
